/* --- IMMAGINI --- */

.carousel-item img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


/* --- FRECCE --- */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    width: 3rem;
    height: 3rem;
}


/* sfondo cerchiato semitrasparente per evidenziare */

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 150, 0.1);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
    filter: invert(0);
}

.carousel-item img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.carousel-item img:hover {
    transform: scale(1.05);
    cursor: pointer;
}